[submodule "Poseidon/vendor/spdloglib"]
	path = Poseidon/vendor/spdloglib
	url = https://github.com/gabime/spdlog
[submodule "Poseidon/vendor/GLFWlib"]
	path = Poseidon/vendor/GLFWlib
	url = https://github.com/diviiniity/glfw
