[submodule "Poseidon/vendor/spdlog"]
	path = Poseidon/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Poseidon/vendor/GLFW"]
	path = Poseidon/vendor/GLFW
	url = https://github.com/diviiniity/GLFW
