[submodule "Poseidon/vendor/spdlog"]
	path = Poseidon/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Poseidon/vendor/GLFW"]
	path = Poseidon/vendor/GLFW
	url = https://github.com/diviiniity/GLFW
[submodule "Poseidon/vendor/imgui"]
	path = Poseidon/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Poseidon/vendor/glm"]
	path = Poseidon/vendor/glm
	url = https://github.com/g-truc/glm
